{% macro include(fileName) -%}
{% include fileName ignore missing -%}
{% endmacro -%}
<!DOCTYPE html>{% set path = '../../pc/' %}
<html lang="ko">

<head>
	{{ include("inc/head.html") | tabIndent(1) }}
</head>

<body>
	<div id="wrap" {%if pageVar.pageClass %}class="{{pageVar.pageClass}}" {% endif %}>

		{% filter tabIndent(1) %}
		{% block content %}{% endblock %}
		{%- endfilter %}

	</div>
	{{ include("inc/footer.html") | tabIndent(1) }}
</body>

</html>