<meta charset="UTF-8">
<title>{{pageVar.title}}</title>
<link rel="stylesheet" type="text/css" href="{{path}}css/test.css">
<link rel="stylesheet" type="text/css" href="{{path}}css/globals.css">
<script src="{{path}}js/test.js"></script>