{% set pageVar = {title: '테스트', pageClass: 'test-layout'} %}
{% set snb = {dep1: '1', dep2: '1'} %}
{% set path = '../../mobile/' %}
{% set resourcePath = '../../resource/' %}
{% extends 'inc/layout.html' %}
{% block content -%}
	<div class="phj">
		모바일 테스터
		<img src="{{path}}images/phj.png" alt="테스트"/>
		<div>
			<a href="{{resourcePath}}html/test/index1.html" target="_blank">/html/test/index1.html</a>
		</div>
	</div>
{%- endblock %}